<!DOCTYPE html>
<html lang="{{ app.getLocale()|replace({'_':'-'}) }}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Fonts -->
	{% block head %}
	<link rel="stylesheet" href="{{asset('css/app.css')}}?v=1.0.0" />
	<title>{% block title %}STOP Coronavirus RDC{% endblock %}</title>
	{% endblock %}
</head>

<body>
<div id="header">
    <h1>STOP Coronavirus RDC</h1>
</div>
<div id="nav-lang" class="hidden">
</div>
    <div id="nav">
        <ul>
            <li></li>
        </ul>

    </div>
	<div id="content"> {% block content %}{% endblock %}
	</div>
	<div id="footer">
		{% block footer %}

		&copy; Copyright 2011 by
		<a href="http://domain.invalid/">you</a>.
		{% endblock %}
		
	</div>
</body>

</html>