/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/covid19/v16/.suo
.vs/covid19/config/applicationhost.config
