.btn {
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
}
.btn.btn-secondary {
    border: 3px solid lighten($secondary, 30%);
    &:hover {
        border: 3px solid $primary;
    }
}
.btn-start-test{
    font-size: 1.8rem !important;
}