
.jubmotron-alert {
    text-align: center;
    padding: 2rem 1.5rem !important;
    background-color: $primary;
    color: $white;
    i {
        font-size: 2rem;
    }
    .btn-primary {
        color: $white;
        background-color: darken($primary, 10);
        font-weight: bold;
        &:hover {
            color: $primary;
            background-color: $white;
        }
    }
}

.home-consignes {
    > div {
        text-align: center;

        .ico {
            font-size: 4rem;
            color: $flag-blue;
            display: block;
        }
    }
}

#statsChartContainer {
    height: 30vh;
    @media screen and (max-width: 767px) {
        height: 50vh;
    }
    @media screen and (max-width: 575px) {
    }
    #statsChart {
    }
}

.container-directive {
    background: #eee;
}

.home-directives {
    > div {
        text-align: center;

        .ico {
            font-size: 4rem;
            color: darken($primary, 20%);
            display: block;
        }

        .ico .fa-shopping-basket {
            color: $flag-blue;
        }

        strong {
            display: block;
        }
    }
}

.home-symptome {
    .card {
        height: 186px;
        background: $bg-gray;
        .card-body {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: 700;
        }
    }
}
