.App-Header {
    .App-Header--notice {
        background-color: darken($success, 8%);
        @media screen and (max-width: 575px) {
            padding-left: 60px;
        }
    }
    .App-Header--logo {
    }

    .App-Header--navbar {
        a {
            color: $dark;
            &.active {
                font-weight: bold;
            }
        }

        @media screen and (max-width: 575px) {
            a {
                display: block;
            }
        }
    }
}

.display-4 {
    @media screen and (max-width: 575px) {
        & {
            font-size: 2.5rem;
        }
    }
}
a {
    overflow-wrap: break-word;
}
