.PreventativeMeasure--Wrapper {
    .PreventativeMeasure--Item {
        .PreventativeMeasure--Item__title {
            font-weight: 300;
        }

        .PreventativeMeasure--Item__image {
            margin-bottom: 1rem;
        }

        .PreventativeMeasure--Item_image_placeholder {
            margin-bottom: 1rem;
            width: 100%;
            height: 235px;
            display: block;
            background-color: #f1f1f1;
        }
    }

    ul {
        margin-left: 1.5rem !important;
    }
}

.OfficialMeasures--Wrapper {
    article {
        ol {
            padding-left: 2rem;
        }
    }
}
