.statistiques .card-header {
  text-align: center;
}

.statistiques .card-title {
  font-size: 3rem;
  text-align: center;
}

.statistiques .bg-dark {
  background-color: #242222 !important;
}

.statistiques .bg-dark .card-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.statistiques-footnote {
  font-size: 0.9rem;
}
