h1, h2, h3, h4, h5, h6, * {
    font-family: 'Rubik', sans-serif
}

.lead {
    line-height: 1.8rem;
    font-weight: 300;
    .bold {
        color: $dark-blue;
    }
}

.bold {
    font-weight: 700;
}
.bolder {
    font-weight: 900;
}

a {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4 {
    color: $dark-blue;
}
h1 {
    font-weight: 300;
}
h2 {
    /*
    border-left: .8rem solid $primary;
    padding-left: .5rem !important;
    */
    font-size: 3rem;
    @media screen and (max-width: 575px) {
        font-size: 2.5rem;
    }
    font-weight: 300;
    i {
        margin-right: .5rem;
        font-size: 3.2rem;
        @media screen and (max-width: 575px){
            font-size: 2.8rem;
        }
    }
}
h3 {
    font-weight: 300;

}
h4 {
}

ul {
}

