$primary: #fb6460;
$secondary: #56c0f3;
$success: #00b065;
$dark: #020000;


$bg-gray : #e9ecef;
$bg-darkgray : darken($bg-gray, 20%);
$dark-blue : #28345b;
$dark-blue-100: $secondary;
// Typography
$font-family-serif: serif;
$font-family-sans-serif: "Helvetica", sans-serif;

//jumbotron
$jumbotron-bg: $bg-gray;

$border-radius: 10px;
