$primary: #e6222e;
$secondary: #1f3677;
$success: #00b065;
$dark: #020000;


$bg-gray : #e9ecef;
$dark-blue : darken($secondary, 10%);
$dark-blue-100: $secondary;
$flag-blue: #45b0e1;
$flag-yellow: #eede4e;
// Typography
$font-family-serif: serif;
$font-family-sans-serif: "Helvetica", sans-serif;
$font-family-base:'Rubik', sans-serif;

//jumbotron
$jumbotron-bg: $bg-gray;

$border-radius: 8px;
