@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "layout";
@import "typography";
@import "preventativeMeasures";
//

.App-Header {
    .App-Header--navbar {
        .active {
            background: $dark-blue-100;
            font-weight: bold;
            color: white;
        }
        a {
            color: #020000;
            display: inline-block;
            background: $bg-gray;
            padding: 0.5rem;
            margin-left: 0.5rem;
            text-decoration: none;

            &:hover {
                background: $dark-blue-100;
                color: white;
            }

            @media screen and (max-width: 767px) {
                margin-bottom: 0.5rem;
                border-radius: 0;
            }
            @media screen and (max-width: 575px) {
                margin-top: 0.5rem;
                display: block;
            }
        }
    }
}

.jumbotron {
    @media (min-width: 576px) {
        padding: 4rem 2rem;
    }
}

.jumbotron-title {
    background-color: $dark-blue-100;
    border-radius: unset;
    color: white;
    h1{
        color: white;
    }
}
.covid-case{
    
    color: #fff;
    .background-1{
        background:#ed253d;
    }
    .background-2{
        background: #fc8b37;
    }
    .background-3{
        background: #00b065;
    }
    .background-4{
        background: #000000;
    }
    div{
        padding: 1.42857143rem 2.14285714rem 2.14285714rem;
        box-shadow: 5px 5px 20px 0 rgba(0,0,0,.08);
        border-radius: 5px;
    }
    h3{
        border-left:unset;
        color: white;
    }
}