@import "variables";
@import "layout";
@import "preventativeMeasures";
@import "~bootstrap/scss/bootstrap";
//

.App-Header {
  .App-Header--navbar {
    .active {
      background: #a0d0ff;
      font-weight: bold;
      color: #0c2544;
    }
    a {
      color: #020000;
      display: inline-block;
      background: #e9ecef;
      padding: 0.5rem;
      margin-left: 0.5rem;
      text-decoration: none;
      @media screen and (max-width: 767px) {
        margin-bottom: 0.5rem;
        border-radius: 0;
      }
      @media screen and (max-width: 575px) {
        margin-top: 0.5rem;
        display: block;
      }
    }
  }
}

.jumbotron {
  @media (min-width: 576px) {
    padding: 4rem 2rem;
  }
}

.jumbotron-title {
  background-color: #a0d0ff;
}
